dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.hi
.virtualenv
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config
client/client
server/server
gtkclient/gtkclient
clientTest/clientTest
*.aux
*.log
*.out
report/report.pdf
